<%# Overrides template from ArchivesSpace v4.1.1:
      - adds in our desired verbiage for login
      - removes user registration and password reset options %>
<%= setup_context :title => "Home", :suppress_breadcrumb => true %>

<% if flash.any? %>
  <div class="d-flex px-3">
    <div class="mt-3 flex-grow-1">
      <%= render_aspace_partial :partial => "shared/flash_messages" %>
    </div>
  </div>
<% end %>

<% if !session[:user] %>
  <div class="d-flex py-5">
    <div class="col-md-6 col-xl-4 lg-min-w-450px p-4"><!-- should lg-min-w-450px be xl-min-w-450px? -->
      <h2>Welcome to Emory's ArchivesSpace</h2>
      <p><i>ArchivesSpace is the repository of record for all archival and manuscript collections held by Emory University's special collections repositories. Oversight for policies around ArchivesSpace and for user training is managed by the Archival Description subcommittee of the Metadata Policy Committee. To create an account in ArchivesSpace, please contact the ArchivesSpace administrator at your library. To report problems or issues, please submit a ticket to <a href="mailto:coreserviceshelp@emory.edu">coreserviceshelp@emory.edu</a>.</i></p>
    </div>

    <div class="col-md-6 col-xl-4 p-4 bg-light">
      <main id="login-form-wrapper" class="card p-3 p-sm-4">
        <h3 class="login-header mt0"><%= I18n.t "login.login_please" %></h3>
        <a class="btn btn-primary login" href="/staff/auth/saml">Emory Archivist Login</a>
        <div class="login-separator"><span>or</span></div>
        <p class="login-text">Local Admin Login</p>
        <%= render_aspace_partial :partial => "shared/login" %>
      </main>
    </div>
  </div>
<% end %>
