@import url(https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap); /**** Color System ****/
/*
 * Colors from Emory Libraries Pattern Library: 
 * https://github.com/emory-libraries/Pattern-Library/blob/master/src/scss/vends/emory-libraries/config/_colors.scss */
@import url(https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap);
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cardo";
  src: url(https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap);
  font-weight: normal;
  font-style: normal;
}
/**** Typography ****/
.btn {
  font-family: "Open Sans";
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary.login {
  border-radius: 0;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #336be6;
  border-color: 1px solid #336be6;
  padding: 14px 28px;
  color: #ffffff;
  width: 100%;
  margin: 8px 0;
}
.btn.btn-primary.login:hover {
  background-color: #004990;
  border-color: 1px solid #004990;
}
.btn.btn-secondary {
  background-color: #ffffff;
  border: 1px solid #336be6;
  padding: 14px 28px;
  color: #336be6;
}
.btn.btn-secondary:hover {
  background-color: #d0defd;
}
.btn.pill {
  border-radius: 360px;
  padding: 10px 28px;
}

/**** Admin Login Override ****/
.login .btn.btn-primary {
  padding: 10px 28px;
  background-color: #ffffff;
  border: 1px solid #336be6;
  color: #336be6;
  border-radius: 0;
}
.login .btn.btn-primary:hover {
  background-color: #d0defd;
}

.login .form-control {
  border-radius: 0;
}

/**** Color System ****/
/*
 * Colors from Emory Libraries Pattern Library: 
 * https://github.com/emory-libraries/Pattern-Library/blob/master/src/scss/vends/emory-libraries/config/_colors.scss */
.emory-banner {
  position: sticky;
  top: 0px;
  background-color: #b82216;
  border-color: #b82216;
  z-index: 5000;
  color: #ffffff;
  opacity: 0.95;
}
.emory-banner a {
  color: #ffffff;
}

.emory-admin-logo {
  max-width: 300px;
  padding: 10px 0;
}

.emory-admin-head {
  background: #091c44;
}

body > div.center-block {
  padding: 0;
}

/**** Staff Login Page ****/
.login-separator {
  font-size: 1.5rem;
  margin: 1em auto;
  position: relative;
  text-align: center;
}
.login-separator::before {
  content: "";
  display: inline-block;
  width: 43%;
  margin: 0 0.5em 0 -45%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
.login-separator::after {
  content: "";
  display: inline-block;
  width: 43%;
  margin: 0 -45% 0 0.5em;
  vertical-align: middle;
  border-bottom: 1px solid;
}

.login-header {
  text-align: center;
}

.login-text {
  text-align: center;
}

/**** Phone Screen ****/
@media (max-width: 767px) {
  .repository-header > nav.navbar-default {
    border: none;
  }
}