<%= stylesheet_link_tag "#{@base_url}/assets/css/style.css" %>
<%= javascript_include_tag "#{@base_url}/assets/js/urlcheck.js" %>


<% unless AppConfig[:emory_ga_tracking_public].to_s.strip.empty? %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= AppConfig[:emory_ga_tracking_public] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= AppConfig[:emory_ga_tracking_public] %>');
  </script>
<% end %>

<%# Emory Banner %>
<div class="container-fluid global-header emory-banner">
  <div class="alert">
    <p>Welcome to ArchivesSpace, the new Emory Libraries discovery system for archives. Visit the <a href="/help" target="_blank">Help page</a> for more information about using ArchivesSpace. We encourage questions and comments via our <a href="https://emory.libwizard.com/f/ArchivesSpace_Feedback" target="_blank">feedback form</a>.
  </div>
</div>
