<%= stylesheet_link_tag "#{@base_url}/assets/css/style.css" %>
<%= javascript_include_tag "#{@base_url}/assets/js/urlcheck.js" %>


<% unless AppConfig[:emory_ga_tracking_public].to_s.strip.empty? %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= AppConfig[:emory_ga_tracking_public] %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '<%= AppConfig[:emory_ga_tracking_public] %>');
  </script>
<% end %>


<%# Emory Banner %>
<div class="flex-grow-1 align-self-stretch order-1 order-md-0 p-12px global-header emory-banner">
</div>
