<%= stylesheet_link_tag "#{@base_url}/assets/css/style.css" %>




<%# Emory Banner %>
<div class="container-fluid global-header emory-banner">
  <div class="alert">
    <p>This is a notice from Emory University.</p>
  </div>
</div>
