@import url(https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap);

@font-face {
    font-family: "Open Sans", sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Cardo";
    src: url(https://fonts.googleapis.com/css?family=Cardo:400,700|Open+Sans:400,700&display=swap);
    font-weight: normal;
    font-style: normal;
  }
  
  
  /**** Typography ****/
  $system-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Cantarell, Roboto, Oxygen-Sans, Ubuntu, "Helvetica Neue", sans-serif;
  $font-family-sans-serif: "Open Sans", sans-serif, $system-font-stack;
  $font-family-serif: "Cardo", serif;
  