<%# Overrides partial from ArchivesSpace v4.1.1: complete overwrite of partial %>
<section id="header">
  <nav class="navbar navbar-default">
    <div class="flex-grow-1 align-self-stretch order-1 order-md-0 p-12px">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <div class="branding-header navbar-brand">
            <div class="branding-header logo">
                <a href="/"><img class="logo" src="<%= asset_path(AppConfig[:pui_branding_img]) %>" alt="<%= AppConfig[:pui_branding_img_alt_text] %>" /></a>
            </div>
            <div class="branding-header">
                <div class="branding-header-wrapper">
                    <%= link_to 'Emory University', "https://emory.edu/", class: "branding-header organization" %>
                </div>
                <div class="branding-header-wrapper">
                    <%= link_to 'Emory Libraries', 'https://libraries.emory.edu/', 
                        class: "branding-header division" %>
                </div>
            </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
</section>
