<%# Overrides partial from ArchivesSpace v4.1.1: significant overwrite of partial %>
<section id="navigation">
  <nav class="navbar navbar-expand-lg navbar-light navbar-default bg-light p-0" aria-label="<%= I18n.t("navigation.top_level") %>">
    <button type="button" class="navbar-toggler m-2 ml-auto" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
      <div class="container">
        <span class="sr-only"><%= t('navigation.mobile_menu') %></span>
        <span class="navbar-toggler-icon"></span>
      </div>
    </button>

    <div class="collapse navbar-collapse top-bar pl-4" id="collapsemenu">
      <ul class="navbar-nav navbar-left">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" target="_blank" href="https://search.libraries.emory.edu/">Library Search</a></li>
        <li class="nav-item"><a class="nav-link" target="_blank" href="https://aviary.libraries.emory.edu/">Aviary</a></li>
        <li class="nav-item"><a class="nav-link" target="_blank" href="https://digital.library.emory.edu/">Emory Digital Collections</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Browse ▼
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/repositories">Repositories</a>
            <a class="dropdown-item" href="/repositories/resources">Collections</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
        <li class="nav-item"><a class="nav-link" href="/search?reset=true">Search</a></li>
      </ul>
    </div>
  </nav>
</section>


