<div class="row">
  <div class="col-sm-12 hero-banner">
    <div class="hero-banner-text">
      <h1>Emory Special Collections and Archives</h1>
      <p>Discover archival resources<p>
    </div>
  </div>
</div>

    <%= render partial: 'shared/search', locals: {
      :search_url => "/search",
      :title => t('archive._plural'),
      :limit_options => [
            ["#{t('actions.search')} #{t('search-limits.all')}",''],
            [t('search-limit', :limit => t('search-limits.resources')),'resource'],
            [t('search-limit', :limit => t('search-limits.digital')),'digital_object']
          ],
      :field_options => [
            ["#{t('search_results.filter.fullrecord')}",''],
            ["#{t('search_results.filter.title')}",'title'],
            ["#{t('search_results.filter.creators')}",'creators_text'],
            ["#{t('search_results.filter.subjects')}",'subjects_text'],
            ["#{t('search_results.filter.notes')}", 'notes'],
            ["#{t('search_results.filter.identifier')}", 'identifier']
           ]
    } %>

<div class="container-fluid">
  <div class="spacer-30"></div>
  <div class="row">
    <div class="pui-search-text">
    <p>Explore collection guides (finding aids) for collections in Emory University's <a target="_blank" href="https://libraries.emory.edu/materials/archives-and-special-collections">five special collections and archives repositories</a>. This
    discovery system contains descriptions of unique materials including manuscripts, photographs, audio and video recordings, printed
    material, correspondence, and more.</p>

    <p>Each finding aid includes a link to request materials from the collection. Each repository has its own location, hours, and policies for
    providing access to its collections. Collections are non-circulating and must be used in the repository's reading room. In some cases,
    collections are stored off-site and will require advance notice for retrieval.</p>

    <p>Getting started with using and searching special collections material at Emory? See our <a href="/help">Help</a> page.
    Looking for more information about Emory's special collections repositories? Browse <a href="/repositories">repository information</a>.
    Need additional help? <a target="_blank" href="https://libraries.emory.edu/contact/ask-librarian">Contact us</a>.</p>
    </div>
  </div>
</div>

