/**** Color System ****/

/*
 * Colors from Emory Libraries Pattern Library: 
 * https://github.com/emory-libraries/Pattern-Library/blob/master/src/scss/vends/emory-libraries/config/_colors.scss */
$dark-blue: #091c44;
$alt-dark-blue: #212529;
$base-blue: #082b73;
$mid-blue: #004990;
$bright-blue: #336be6;
$alt-bright-blue: #5387f7;
$light-blue: #d0defd;

$gold: #e9bf55;
$dark-gold: #d69a03;

$charcoal: #605858;
$base-slate: #b6bdcc;
$light-slate: #e7eaf1;
$super-light-slate: #e5e7ec;
$black: #000000;
$white: #ffffff;

$red: #b82216;
$light-red: #eabdb9;
$orange: #ab750c;
$yellow: #f6e4c1;
$alt-yellow: #fcecc7;
$green: #28a745;
$alt-green: #1db003;
$light-green: #e0f6da;
