@import 'colors.scss';
@import 'fonts.scss';

/**** Overrides from Application.css ****/
#header .logo {
    float: none;
    height: initial;
    text-align: initial;
}

#header > .row {
    height: initial;
    padding-bottom: 0;
    border-bottom: none;
}

.navbar-default {
    background-color: transparent !important;
    border: none;
    margin-bottom: 10px;
}

.navbar-header.top-bar {
    background: transparent !important;
    border: none;
}

/**** Nav Styling ****/
#navigation nav {
    div.navbar-collapse {
        border-bottom: 1px solid $light-slate;
        border-top: none;
    }

    .dropdown-menu {
        padding: 10px;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-width: 11.875rem;
        z-index: 100;
        background-color: $white;
        border: 1px solid $base-slate;
        border-radius: 0;

        .dropdown-item {
            display: inline-block;
            width: 100%;
            font-size: 0.6875rem; 
            color: $mid-blue;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 1px solid $light-slate;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 2px;
            }

            &:hover {
                color: $base-blue;
                text-decoration: none;
            }
        }
    }

    .open .nav-link,
    .open .nav-link:focus,
    .open .nav-link:hover {
        background-color: $white;
        color: $mid-blue;
        text-decoration: none;
    }

    .nav-link {
        color: $mid-blue;
        font-weight: 700;
        font-size: .6875rem !important;
        text-transform: uppercase;
        letter-spacing: .025em;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {
            color: $base-blue;
            text-decoration: none;
        }
    }
}

/**** Header Styling ****/
#header {
    .branding-header.navbar-brand {
        padding: 15px 15px 0 15px;
        height: initial;
    }

    .branding-header {
        display: inline-block;
        color: $dark-blue;
        white-space: nowrap;
        &:hover {
          color: $mid-blue;
          text-decoration: none;
        }
        z-index:99;
    }

    .branding-header.organization {
        line-height: 23px;
        text-transform: uppercase;
        font-size: 0.875rem;
        font-family: $font-family-serif;
        padding-left: 8px;
    }
    
    .branding-header.division {
        padding-left: 8px;
        font-size: 1.5rem;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        line-height: 1.5rem;
    }
}



