@import 'colors.scss';
@import 'fonts.scss';

/**** Main Layout ****/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans';
  color: $charcoal;
  font-size: 1rem;
}

/**** Headers & Links ****/
h1,
h4,
h5 {
  font-family: $font-family-serif;
  color: $charcoal;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-family: $font-family-serif;
  font-weight: normal;
  font-size: 2rem;
  color: $base-blue;
  margin-bottom: 15px;
}

h3 {
  font-family: $font-family-sans-serif;
  color: $charcoal;
  font-size: 1.75rem;
}

// Search Header Override
.repositories h3,
.search h3 {
  font-family: $font-family-serif;
  color: $base-blue;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.88;
  font-weight: normal;
}

a {
  color: $bright-blue;
  text-decoration: none;
  background-color: transparent;
}

/**** Homepage ****/
.hero-banner {
  height: 333px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(/assets/images/aspacehero.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .hero-banner-text {
    text-align: center;
    transform: translateY(75%);
  }

  h1 {
    font-size: 2.625rem;
    color: $white;
  }

  p {
    font-size: 1.625rem;
    color: $white;
  }
}

.pui-search-text {
  background-color: $light-slate;
  padding: 20px;
}

/**** Helper Classes ****/

/** Padding 10 **/
.pd-10 {
  padding: 10px;
}

/** Padding 20 **/
.pd-20 {
  padding: 20px;
}

/** Padding 50 **/
.pd-50 {
  padding: 50px;
}

/** Margin 10 **/
.mg-10 {
  margin: 10px;
}

/** Margin 20 **/
.mg-20 {
  margin: 20px;
}

/** Margin 50 **/
.mg-50 {
  margin: 50px;
}

/** 10 spacer **/
.spacer-10 {
  height: 10px;
}

/** 30 spacer **/
.spacer-30 {
  height: 30px;
}
