
/**** Mobile First ****/
@media (min-width: 768px) {
    .nav-item:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 14px;
        height: 25px;
        width: 1px;
        background-color: $light-slate;
    }
}

/**** Large Screens ****/
@media (max-width: 1200px) {
    /**** Navigation ****/
    #navigation nav {
        .nav.navbar-nav {
            display: flex;
            float: none !important;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

/**** Phone Screen ****/
@media (max-width: 767px) {
    /**** Navigation ****/
    #navigation nav .dropdown-menu {
        border: none;
    }
    //reset nav for bootstrap
    #navigation nav {
        .nav.navbar-nav {
            display: block;
        }
    }

    /**** Hero Banner ****/
    .hero-banner .hero-banner-text {
        transform: translateY(45%);
    }

    /**** Footer ****/
    #emory-as-footer footer {
        display: flex; 
        flex-direction: column;
        ul {
            padding: 0px;
        }
        .footer-list, .copyright-signature {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
    }
}

/**** Tiny Phone Screens ****/
@media (max-width: 414px) {
    /**** Hero Banner ****/
    .hero-banner .hero-banner-text {
        transform: translateY(17%);
    }
}
