@media (min-width: 768px) {
    .nav-link:not(.last)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 14px;
        height: 25px;
        width: 1px;
        background-color: $light-slate;
    }
}
