<body>
    <div class="container">
      <main id="content" aria-label="Content">
        <div>
          <h2>About ArchivesSpace</h2>
          <p>
          ArchivesSpace is an open source archives information management application designed to manage information about special collections material such as archives, manuscripts and digital objects.
          </p>
          <p>
          ArchivesSpace provides centralized access to detailed descriptions of archival and manuscript collections held in various repositories at Emory. Finding\aids describe our unique primary resources and help researchers determine if collections contain material of interest to them and exactly where that material is located. ArchivesSpace includes finding aids for both processed and unprocessed collections at the 
          <a target="_blank" rel="noopener noreferrer" href="https://libraries.emory.edu/rose">Stuart A. Rose Manuscript, Archives, and Rare Book Library</a>, the 
          <a target="_blank" rel="noopener noreferrer" href="https://libraries.emory.edu/rose">Emory University Archives</a>, 
          <a target="_blank" rel="noopener noreferrer" href="https://oxford.library.emory.edu/">Oxford College Archives</a>, 
          <a target="_blank" rel="noopener noreferrer" href="https://libraries.emory.edu/health">Woodruff Health Sciences Center Library Historical Collections</a>, 
          <a target="_blank" rel="noopener noreferrer" href="https://pitts.emory.edu/">Pitts Theology Library Special Collections and Archives</a>, and the 
          <a target="_blank" rel="noopener noreferrer" href="http://library.law.emory.edu/">Emory Law School Archives</a>.  
          </p>
          <h2>Accessibility</h2>
          <p>
            Emory Libraries is committed to the principles of universal design
            and strives to provide equitable services online and in our spaces.
            We assess and enhance the usability and accessibility of our digital
            interfaces on an ongoing basis, and use Section 508 of the
            Rehabilitation Act and current WCAG AA standards as benchmarks. For
            further information, please use our feedback form or consult Emory's Department of Accessibility Services.
          </p>
          <h2>Questions, Help, and Feedback</h2>
          <p>
            Please visit our
            <a
              href="https://libraries.emory.edu/contact/ask-librarian"
              target="_blank"
              rel="noopener noreferrer"
              >Help & Contacts page</a
            >
            for more information about Emory Libraries collections and access.
          </p>
        </div>
      </main>
    </div>
  </body>
