<body>
  <main id="content help-requesting" aria-label="Content">
    <div class="container">
        <h1>How to Request Materials</h1>
        <div class="row">
          <div class="col-md-8">
          
            <h2 id="searching">Searching in ArchivesSpace</h2><br>
            <p>Requesting for manuscripts and archives collections are managed through ArchivesSpace. If you are searching for book materials, please visit the Emory <a href="https://search.libraries.emory.edu/" target="_blank" rel="noopener noreferrer">Library Search interface</a>.</p><br>
            <p>ArchivesSpace provides a centralized search interface for archival and manuscript collections held by the <a href="https://libraries.emory.edu/rose" target="_blank" rel="noopener noreferrer">Stuart A. Rose Manuscript, Archives, and Rare Book Library</a>, the <a href="https://libraries.emory.edu/rose/collections/emory-university-archives" target="_blank" rel="noopener noreferrer">Emory University Archives</a>, <a href="https://library.law.emory.edu/collections/archives-and-rare-books.html" target="_blank" rel="noopener noreferrer">Emory Law Archives</a>, <a href="https://oxford.library.emory.edu/special-collections" target="_blank" rel="noopener noreferrer">Oxford College Archives</a>, <a href="https://pitts.emory.edu/collections/special-collections/" target="_blank" rel="noopener noreferrer">Pitts Theology Library Special Collections and Archives</a>, and <a href="https://libraries.emory.edu/health/using-library/historical-collections" target="_blank" rel="noopener noreferrer">Woodruff Health Sciences Center Library Historical Collections</a>.</p><br>
            <p>A reminder that ArchivesSpace searches words and phrases used in the finding aids that describe collections, not the words and phrases that appear in documents in the collections themselves. Although some of Emory’s collections are available digitally, access to most archival and manuscript material requires visiting our reading rooms in-person.</p><br>
          
          </div>
          <div class="col-md-4">
            <nav role="navigation" class="aspace-sidebar-menu">
              <span class="sidebar-header">Requesting Menu</span>
              <ul class="links">
                <li class="link-item"><a class="link"  href="#searching">Searching For Materials</a></li>
                <li class="link-item"><a class="link"  href="#requesting">Making A Request From ArchivesSpace</a></li>
                <li class="link-item"><a class="link"  href="#help">Additional Help</a></li>
              </ul>
            </nav>
          </div>
        </div>
          
        <div class="request-help-layout">
          <h2 id="requesting">Making a Reading Room Request from ArchivesSpace </h2><br>
          <div class="row">
            <div class="col-md-4">
              <p>You can make a reading room request for special collections materials directly in ArchivesSpace for archival resources.
              You can begin a search by entering the name of the collection you are seeking, or you can also enter a broader subject search and narrow the search according to the fields presented. On the next screen, you will be able to limit the search by repository as applicable. </p>
            </div>
            <div class="col-md-8">
              <img class="img-responsive" src="/assets/images/AS-RRrequest-01.png" alt-text="#">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4"> 
              <p>On the next screen, you will be able to limit the search by repository as applicable.</p>
            </div>
            <div class="col-md-8">
              <img class="img-responsive" src="/assets/images/AS-RRrequest-02.png" alt-text="#">
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
          <p>Click on the collection of interest from the search results. </p>
          </div>
          <div class="col-md-8">
          <img class="img-responsive" src="/assets/images/AS-RRrequest-03.png" alt-text="#">
          </div></div>
        
        <div class="row">
        <div class="col-md-4">
        <p>You will be taken to the finding aid for the collection where you can click on Collection Overview, Collection Organization, or Collection Inventory. You can also view the Collection Organization on the right side of the page to reach file or folder level description. </p>
        </div>
        <div class="col-md-8">
        <img class="img-responsive" src="/assets/images/AS-RRrequest-04.png" alt-text="#">
        </div></div>

        <div class="row">
        <div class="col-md-4">
        <p>Please note that you will see “No requestable containers” until you click on one of the folder labels. 
        Once you reach the file or folder level description you will be able to click the <strong>Aeon Request</strong> button. <strong>Note that we page materials by box rather than by file or folder. If you request a single file or folder from a box, you have access to all the folders in that box.  There is no need to request multiple folders from the same box.</strong> The box and folder information is located below the file or folder description.</p>
        </div>
        <div class="col-md-8">
        <img class="img-responsive" src="/assets/images/AS-RRrequest-05.png" alt-text="#">
        </div></div>

        <div class="row">
        <div class="col-md-4">
        <p>You will then be directed to the <a href="https://aeon.library.emory.edu/Logon" target="_blank" rel="noopener noreferrer">Special Collections Request System Account</a> logon screen. A request form will automatically be filled out for you.</p>
        </div>
        <div class="col-md-8">
        <img class="img-responsive" src="/assets/images/AS-RRrequest-06.png" alt-text="#">
        </div></div>

        <div class="row">
        <div class="col-md-4">
        <p>If the item you have requested is located in our off-site storage facility, you will see a message in the <em>Containers</em> section noting that the item will take longer to retrieve. <strong>Requests for off-site materials must be completed in advance of your appointment.</strong></p>
        </div>
        <div class="col-md-8">
        <img class="img-responsive" src="/assets/images/AS-RRrequest-07.png" alt-text="#">
        </div></div>

        <div class="row">
        <div class="col-md-4">
        <p>To add the date you plan to visit, scroll to the <em>Schedule Appointment</em> section and click the <strong>Schedule A New Appointment</strong> link to see the next availability and select a date from the calendar. Then click the <strong>Submit Request</strong> button. <strong>Note that if you are making requests for an activity or class (for which you have already been added to) you will choose your activity from the <em>Request For</em> tab and the appointment requirement will disappear.</strong></p>
        </div>
        <div class="col-md-8">
        <img class="img-responsive" src="/assets/images/AS-RRrequest-08.png" alt-text="#">
        </div></div>

        <div class="row">
        <div class="col-md-4">
        <p><strong>Each box must be requested separately, so you will need to repeat this process for each item you wish to request. </strong></p>
        <p>If you are making request for an existing appointment, you may select that appointment instead of making a new appointment then click <strong>Submit Request.</strong></p>
        </div>
        <div class="col-md-8">
        <img class="img-responsive" src="/assets/images/AS-RRrequest-09.png" alt-text="#">
        </div></div>

        <div class="row">
        <div class="col-md-4">
        <p>However, if the appointments that occurs in less than five calendar days you will need to enter a note in the <em>Special Requests/Questions?</em> field and select <strong>Save Request for Later.</strong></p>
        </div>
        <div class="col-md-8">
        <img class="img-responsive" src="/assets/images/AS-RRrequest-10.png" alt-text="#">
        </div></div>
        </div>

        <h3 class="h3-small">Making a Photoduplication Request from ArchivesSpace</h3>
        <p>If you would like to photoduplication request for archival resources, please <a href="https://archives.libraries.emory.edu/help#contact-aspace" target="_blank" rel="noopener noreferrer">email us</a>. </p>

        <h3 class="h3-small">Why is the Aeon button not appearing on the item I want to request?</h3>
        <p>Some materials are not requestable. This includes items that are restricted, on exhibit, or require using a surrogate for conservation requirements. Restricted items will display the following note rather than the Aeon request button:</p>
        <img class="img-responsive center-block" src="/assets/images/access-restricted.png" alt-text="alert that reads access restricted">
        <p>You may also see the following note rather than the Aeon button:</p>
        <img class="img-responsive center-block" src="/assets/images/no-containers.png" alt-text="alert that reads no requestable containers">
        <p>This generally appears at higher levels of the collection description (such as the collection level).  You need to select a specific item to request. To do so, use the collection organization box on the right hand side of the screen to navigate to a specific item.</p><br>
        <p>This note will also appear for items that are only available digitally. To view digital items, click on the digital item box.</p><br>
        <img class="img-responsive center-block" src="/assets/images/digital-item-box.png" alt-text="text box that reads Alejandrez, Daniel (Name) [Original: Mini-DV], A1-A3, 2010, May 19"><br>
        
        <h2 id="help">Additional Help</h2>
        <p>For additional assistance requesting materials or to speak with an archivist, please either visit <a href="https://libraries.emory.edu/contact/ask-librarian" target="_blank" rel="noopener noreferrer">Ask A Librarian</a> or <a href="/repositories" target="_blank" rel="noopener noreferrer">select a repository</a> to see contact information for Emory's special collections repositories.</p>
        </div>
      </div>
    </div>
  </main>  
</body>
