<body>
  <main id="content" aria-label="Content">
    <div class="container">
    <h1>Help</h1>
      <div class="col-lg-8">
        <h2 id="about-aspace">About ArchivesSpace</h2>
          <p>ArchivesSpace allows you to search for and request manuscript and archive materials from across the Emory Libraries using ArchivesSpace.</p>
          <p>In addition to ArchivesSpace, material from Emory's special collections can be found using other search portals. Search Emory Libraries' catalog for rare books, periodicals, maps, and other printed material using <a target="_blank" href="https://search.libraries.emory.edu/" rel="noopener noreferrer">Library Search</a>.</p>
          <p><a target="_blank" href="https://digital.library.emory.edu/" rel="noopener noreferrer">Emory Digital Collections</a> includes digitized material from Emory Libraries collections and <a target="_blank" href="https://aviary.libraries.emory.edu/" rel="noopener noreferrer">Aviary</a> contains audiovisual material.</p>
          <p>Emory Libraries is committed to the principles of universal design and strives to provide equitable services online and in our spaces. We assess and enhance the usability and accessibility of our digital interfaces on an ongoing basis, and use Section 508 of the Rehabilitation Act and current WCAG AA standards as benchmarks. For further information about Emory's accessibility standards and available services, please see <a href="https://libraries.emory.edu/using-library/accessing-libraries/accessibility" target="_blank" rel="noopener noreferrer">Emory Libraries' Accessibility Services</a>.</p>
          </br>
        <h2 id="tips-aspace">ArchivesSpace Search Tips</h2>
          <p>The add row feature (+ icon) will let you construct a more complex search by adding additional search parameters and allowing you to apply And, Or, or Not operators to your search.</p>
          <p>To search an exact phrase, put quotation marks around the phrase.</p>
          <p>Searches are not case sensitive.</p>
          <p>An asterisk can use used as a wildcard character, so a search for librar* will give you results for library, libraries, librarian, etc.</p>
          <p>To browse the collections by Emory Library, Collection title, Subjects, or Names click on the category above the search bar.</p>
          <p>A reminder that ArchivesSpace searches words and phrases used in the finding aids that describe collections, not the words and phrases that appear in documents in the collections themselves. ArchivesSpace only searches finding aids for archives and mansuscripts, it does not search rare books.</p>
          </br>
        <h2 id="request-aspace">How to request materials</h2>
          <p>For manuscripts and archives collections, use the Aeon request button next to the material you would like to request. Restricted materials cannot be requested for use. For printed materials found via Library Search, use the request button in the catalog record to access the request system. Once you have initiated a request you will be prompted to either create a Special Collections Request account or login to and existing one. For additional help, please see the <a href="/help-requesting">How to Request Materials page</a>, which includes a step-by-step walkthrough of how to request materials..</p>
          </br>
        <h2 id="speccollections-aspace">Special Collections Request account</h2>
          <p>You can register, request materials, and make an appointment via your <a rel="noopener noreferrer" target="_blank" href="https://aeon.library.emory.edu/Logon">Special Collections Request Account</a>. Anyone is welcome to use Emory's special collections, you do not have to be affiliated with Emory to use our collections or provide a letter of introduction.</p>
          </br>
        <h2 id="glossary-aspace">Glossary of ArchivesSpace terms</h2>
          <p><strong>Archives</strong> are materials created or received by a person, family, or organization that are preserved because of the enduring value of the information they contain.</p>
          <p><strong>Collections</strong> are groups of materials assembled by a person, family, organization, or repository. For example, the Salman Rushdie papers is a collection of materials created or used by Salman Rushdie.</p>
          <p><strong>Containers</strong> are anything that houses or stores archival materials such as a box or a folder.</p>
          <p><strong>Digital records</strong> are born-digital and digitized materials. Some of these may be available online, but donor restrictions, copyright considerations, and personal privacy considerations means that many of these materials are only available in our reading rooms.</p>
          <p><strong>Finding aids</strong> are guides that allow users to discover, understand, and access archival collections. Finding aids describe the creation, arrangement, content, and context of archival materials.</p>
          <p><strong>Names</strong> are the people, families, and organizations that create archival materials.</p>
          <p><strong>Repositories</strong> are institutions that hold archival materials, here at Emory they are the different Libraries that contain archives and manuscript materials.</p>
          <p><strong>Series</strong> are sets of material within a collection that either were created as part of the same activity (like files related to someone's work on a committee) or are of the same type (like correspondence files or speech files).</p>
          <p><strong>Subjects</strong> record the main topics that archival collections are about. Subjects also include places and the formats of materials.</p>
          </br>
        <h2 id="copyright-aspace">Copyright/Using and publishing from collections</h2>
          <p>Researchers should be aware that the copyright law of the United States (Title 17, USC) provides protection for unpublished materials as well as for published works. It is your responsibility as a researcher to use materials from the collections in a manner that complies with U.S. copyright law.</p>
          <p>Manuscript collections from the 20th and 21st centuries may contain sensitive or private information. Emory University's special collections libraries strive to identify and restrict or remove all private and confidential information in our collections. However, there may be instances where researchers find materials containing private or confidential information. Users of Emory University's special collections libraries must agree to not disclose, make public, or publish in any format confidential information discovered while using our collections.<p>
          </br>
        <h2 id="contact-aspace">Contact Us</h2>
          <p>To speak with an archivist or for additional assistance, please either visit <a href="https://libraries.emory.edu/contact/ask-librarian" target="_blank" class="link" rel="noopener noreferrer">Ask A Librarian</a> or <a href="/repositories" class="link">select a repository</a> to see contact information for Emory's special collections repositories.</p>
          </br>
        <h2 id="feedback-aspace">Provide Feedback</h2>
          <p>We are continually improving ArchivesSpace and appreciate comments to help us make the discovery experience better. Please complete our <a href="https://emory.libwizard.com/f/ArchivesSpace_Feedback" target="_blank" class="link" rel="noopener noreferrer">feedback form</a> about your experience using ArchivesSpace.</p>
          </br>
      </div>
      <div class=" col-lg-4">
        <div class="aspace-sidebar-menu">
          <span class="sidebar-header">Help Menu</span>
            <ul class="links">
              <li class="link-item"><a class="link" href="#about-aspace">About ArchiveSpace</a></li>
              <li class="link-item"><a class="link" href="#tips-aspace">ArchivesSpace Search Tips</a></li>
              <li class="link-item"><a class="link" href="#request-aspace">How to request materials</a></li>
              <li class="link-item"><a class="link" href="#speccollections-aspace">Special Collections Request account</a></li>
              <li class="link-item"><a class="link" href="#glossary-aspace">Glossary of ArchivesSpace terms</a></li>
              <li class="link-item"><a class="link" href="#copyright-aspace">Copyright/Using and publishing from collections</a></li>
              <li class="link-item"><a class="link" href="#contact-aspace">Contact Us</a></li>
              <li class="link-item"><a class="link" href="#feedback-aspace">Provide Feedback</a></li>
            </ul>
        </div>
      </div>
    </div>
  </main>  
</body>
