<body>
    <main id="content" aria-label="Content">
      <div class="container">
      <h1>How to Request Materials</h1>
      <div class="col-lg-12">
        <h2>Searching in ArchivesSpace</h2><br>
        <p>Requesting for manuscripts and archives collections are managed through ArchivesSpace. If you are searching for book materials, please visit the Emory <a href="https://search.libraries.emory.edu/" target="_blank" rel="noopener noreferrer">Library Search interface</a>.</p><br>
        <p>ArchivesSpace provides a centralized search interface for archival and manuscript collections held by the <a href="https://libraries.emory.edu/rose" target="_blank" rel="noopener noreferrer">Stuart A. Rose Manuscript, Archives, and Rare Book Library</a>, the <a href="https://libraries.emory.edu/rose/collections/emory-university-archives" target="_blank" rel="noopener noreferrer">Emory University Archives</a>, <a href="https://library.law.emory.edu/collections/archives-and-rare-books.html" target="_blank" rel="noopener noreferrer">Emory Law Archives</a>, <a href="https://oxford.library.emory.edu/special-collections" target="_blank" rel="noopener noreferrer">Oxford College Archives</a>, <a href="https://pitts.emory.edu/collections/special-collections/" target="_blank" rel="noopener noreferrer">Pitts Theology Library Special Collections and Archives</a>, and <a href="https://libraries.emory.edu/health/using-library/historical-collections" target="_blank" rel="noopener noreferrer">Woodruff Health Sciences Center Library Historical Collections</a>.</p><br>
        <p>A reminder that ArchivesSpace searches words and phrases used in the finding aids that describe collections, not the words and phrases that appear in documents in the collections themselves. Although some of Emory’s collections are available digitally, access to most archival and manuscript material requires visiting our reading rooms in-person.</p><br>

        <h2>Requesting Materials</h2>
        <p>For manuscripts and archives collections, search for the item you wish to view and then use the Aeon request button to request materials. The Aeon request button will appear on all materials that can be requested:</p>
        <img class="img-responsive center-block" src="/assets/images/request-icon.png" alt-text="citation button, aeon request button, and how to request button">
        <p>After clicking on the Aeon request button, you will be directed to the Special Collections Request System logon screen, which will prompt you to register if you do not already have an account. A request form will be automatically filled out for you. On the request form, you can request photoduplication services or add any additional notes about their request. Faculty who have scheduled a class with Special Collections staff may also reserve items for their class session/class activity.</p><br>
        <p>If the item you have requested is located in our off-site storage facility, you will see a message in Aeon that the item will take longer to retrieve.</p><br>
        <p>Each box must be requested separately, so you will need to search and click on the Aeon request button for each item you wish to request. You may select an existing appointment in the Aeon request form to view your materials during the same appointment.</p><br>

        <h2>Why is the Aeon button not appearing on the item I want to request?</h2>
        <p>Some materials are not requestable. This includes items that are restricted, on exhibit, or require using a surrogate for conservation requirements. Restricted items will display the following note rather than the Aeon request button:</p>
        <img class="img-responsive center-block" src="/assets/images/access-restricted.png" alt-text="alert that reads access restricted">
        <p>You may also see the following note rather than the Aeon button:</p>
        <img class="img-responsive center-block" src="/assets/images/no-containers.png" alt-text="alert that reads no requestable containers">
        <p>This generally appears at higher levels of the collection description (such as the collection level).  You need to select a specific item to request. To do so, use the collection organization box on the right hand side of the screen to navigate to a specific item.</p><br>
        <p>This note will also appear for items that are only available digitally. To view digital items, click on the digital item box.</p><br>
        <img class="img-responsive center-block" src="/assets/images/digital-item-box.png" alt-text="text box that reads Alejandrez, Daniel (Name) [Original: Mini-DV], A1-A3, 2010, May 19"><br>

        <h2>Additional Help</h2>
        <p>For additional assistance requesting materials or to speak with an archivist, please either visit <a href="https://libraries.emory.edu/contact/ask-librarian" target="_blank" rel="noopener noreferrer">Ask A Librarian</a> or <a href="/repositories" target="_blank" rel="noopener noreferrer">select a repository</a> to see contact information for Emory's special collections repositories.</p>
      </div>
    </main>  
</body>
