<div id="headernav-container" class="container-fluid navbar-branding emory-admin-head">
  <img src="/staff/assets/images/ELU_hz_logo_white.png" class="img-responsive emory-admin-logo" alt="Emory University Libraries Shield and text">
</div>
