<div class="container-fluid navbar-branding emory-admin-head">
  <%= image_tag "images/ELU_hz_logo_white.png", :class=>"img-responsive emory-admin-logo", :alt=>"Emory University Libraries Shield and text" %>
</div>