<%# Overrides partial from ArchivesSpace v4.1.1:
      - adds in id value for Javascript customization
      - inserts class for our styling
      - hardcodes image tag to point to provided png %>
<div id="headernav-container" class="navbar-branding emory-admin-head flex-grow-1 align-self-stretch order-1 order-md-0 p-12px">
  <img src="/staff/assets/images/ELU_hz_logo_white.png" class="img-responsive emory-admin-logo" alt="Emory University Libraries Shield and text">
</div>
